.calendar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.calendar-nav__title {
  margin: 0 16px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  color: #30475e;
}
