.performance__card {
  display: flex;
  align-items: center;
  width: 333px;
  padding: 15px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

.performance__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.performance__card-image-wrapper {
  width: 100px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #ddd;
}

.performance__card-poster {
  width: 100%;
  height: 100%;
}

.performance__card-info {
  margin-left: 12px;
  text-align: left;
}

.performance__card-genre {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 20px;
}

.performance__card-genre--연극 {
  color: #de8383;
  background-color: #fff9f4;
  border: 1px solid #de8383;
}

.performance__card-genre--서양음악클래식 {
  color: #a391d2;
  background-color: #f4faff;
  border: 1px solid #a391d2;
}

.performance__card-genre--대중음악 {
  color: #2c2a2a;
  background-color: #f6f8f8;
  border: 1px solid #2c2a2a;
}

.performance__card-genre--뮤지컬 {
  color: #257dd7;
  background-color: #f4faff;
  border: 1px solid #257dd7;
}

.performance__card-genre--한국음악국악 {
  color: #868608;
  background-color: #ffffe4;
  border: 1px solid #868608;
}
.performance__card-genre--서커스마술 {
  color: #c27fbb;
  background-color: #fcf3fb;
  border: 1px solid #c27fbb;
}

.performance__card-genre--무용 {
  color: #449496;
  background-color: #f3fdfd;
  border: 1px solid #449496;
}

.performance__card-genre--대중무용 {
  color: rgb(5, 82, 83);
  background-color: #f3fdfd;
  border: 1px solid rgb(5, 82, 83);
}

.performance__card-genre--복합 {
  color: #636363;
  background-color: #f2f2f2;
  border: 1px solid #636363;
}

.performance__card-link {
  text-decoration: none;
}

.performance__card-title {
  font-size: 16px;
  font-weight: bold;
  height: 80px;
  margin: 0;
  margin-top: 8px;
  color: #333;
}

.performance__card-detail {
  margin-top: 5px;
}

.performance__card-text-label {
  font-weight: 700;
  color: #666;
}

.performance__card-text {
  font-size: 13px;
  margin: 2px 0;
  color: #777;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
