.performance__genre-nav {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 15px;

  padding: 0;
}

.performance__genre-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 60px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  border: 1px solid gray;
  border-radius: 20px;
  cursor: pointer;
  background: #f4f4f4;
  transition: all 0.3s ease-in-out;
}

.performance__genre-text {
  display: block;
  margin: 0;
  color: gray;
  font-size: 10px;
}

.performance__genre-item:hover {
  background: #eaeaea;
}

.performance__genre-item--active {
  background: #30475e;
  color: white;
}
