.performance-list {
  margin-left: 16px;
  width: 320px;
  background-color: white;
  border-radius: 12px;
  border: 2px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;

  max-height: 320px;
  overflow-y: auto;
}

.performance-list__title {
  font-size: 18px;
  font-weight: bold;
  color: #30475e;
  margin-top: 0;
  margin-bottom: 6px;
  font-family: "Cormorant Garamond", serif;
}

.performance-list__items {
  list-style: none;
  padding: 0;
}

.performance-list__item {
  display: flex;
  margin-bottom: 12px;
  border-bottom: 1px solid #eaeaea;
  /* padding-bottom: 8px; */
}

.performance-list__item-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  font-family: "Lato", serif;
  margin: 0;
}

.performance-list__item-info {
  font-size: 14px;
  color: #333;
  font-family: "Lato", serif;
  margin: 0;
}

.performance-list__empty {
  padding: 12px;
  text-align: center;
  color: #777;
  font-family: "Lato", serif;
}
